<div class="h-screen flex justify-evenly items-center flex-wrap">
	<div>
    <button class="bg-gradient-to-r from-green-500 to-blue-500 p-3 rounded-4xl border-3 border-green-300 cursor-pointer
                   bg-[length:200%_150%] bg-right hover:bg-left hover:border-amber-50 transition-background-position duration-700 ease-in-out"
            (click)="onCreateRoom()">CREATE ROOM</button>
	</div>
	<div class="flex flex-wrap content-start align-top">
    <button class="bg-gradient-to-r from-green-500 to-blue-500 p-3 rounded-4xl border-3 border-green-300 cursor-pointer
                   bg-[length:200%_150%] bg-left hover:bg-right hover:border-amber-50 transition-background-position duration-700 ease-in-out"
            (click)="onJoinRoom()">JOIN ROOM</button>
		  <input class="w-75 ml-4 px-4 py-2 border-3 border-green-300 rounded-xl shadow-sm focus:outline-none focus:border-white"
				type="text" 
				[(ngModel)]="roomName"/>
	</div>
</div>
