<div class="h-screen flex justify-evenly items-center flex-wrap">
	<div>
    <button class="bg-gradient-to-r from-[var(--color-primary)] to-[var(--color-secondary)] p-3 rounded-4xl border-3 border-white-300 cursor-pointer shadow-[0_0_50px_white]
									 outline-2 outline-pink-300
                   bg-[length:200%_150%] bg-right hover:bg-left hover:border-amber-50 transition-background-position duration-700 ease-in-out text-shadow-primary"
            (click)="onCreateRoom()">CREATE ROOM</button>
	</div>
	<div class="flex flex-wrap content-start align-top">
    <button class="bg-gradient-to-r from-[var(--color-primary)] to-[var(--color-secondary)] p-3 rounded-4xl border-3 cursor-pointer shadow-[0_0_50px_white]
									 outline-2 outline-pink-300
                   bg-[length:200%_150%] bg-left hover:bg-right hover:border-amber-50 transition-background-position duration-700 ease-in-out text-shadow-primary"
            (click)="onJoinRoom()">JOIN ROOM</button>
		  <input class="w-75 ml-4 px-4 py-2 border-3 border-[var(--color-primary)] rounded-xl shadow-sm focus:outline-none focus:border-white text-shadow-primary"
				type="text" 
				[(ngModel)]="roomName"/>
	</div>
</div>
