<div class="flex w-full justify-evenly align-middle flex-wrap border-2 border-[var(--border-secondary)] rounded-[45px] p-5">
  <!-- Sakura Theme -->
  <div class="h-[50px] w-[50px] bg-gradient-to-r from-[#EE9CA7] to-[#FFDDE1] rounded-full border-2 border-[var(--border-secondary)] m-2 cursor-pointer"
       (click)="selectTheme(themes.SAKURA_THEME)">
    
  </div>
  <!-- Clouds Theme -->
  <div class="h-[50px] w-[50px] bg-gradient-to-r from-[#6CA0DC] to-[#D0E7FF] rounded-full border-2 border-[var(--border-secondary)] m-2 cursor-pointer"
       (click)="selectTheme(themes.CLOUDS_THEME)">
  </div>
  <!-- Ocean purple theme -->
  <div class="h-[50px] w-[50px] bg-gradient-to-r from-[#8c3ea3] to-[#4a96d4] rounded-full border-2 border-[var(--border-secondary)] m-2 cursor-pointer"
       (click)="selectTheme(themes.OCEAN_PURPLE_THEME)">
  </div>
  <!-- Midnight theme -->
  <div class="h-[50px] w-[50px] bg-gradient-to-r from-[#555587] to-[#2e2e3f] rounded-full border-2 border-[var(--border-secondary)] m-2 cursor-pointer"
       (click)="selectTheme(themes.MIDNIGHT_THEME)">
  </div>
  <!-- Forest night theme -->
  <div class="h-[50px] w-[50px] bg-gradient-to-r from-[#001602] to-[#08612a] rounded-full border-2 border-[var(--border-secondary)] m-2 cursor-pointer"
       (click)="selectTheme(themes.FOREST_NIGHT_THEME)">
  </div>
</div>
