<div class="w-screen h-[100vh] flex justify-center items-center">
  <div class="p-[2px] glass-card container h-5/6 rounded-2xl border-3 border-white relative">
      <!-- Leave button-->
      <div class="absolute top-[-50px]">
        <button class="h-[40px] w-[100px] bg-gradient-to-r from-[var(--color-tertiary)] to-[var(--color-primary)] pl-2 pr-2 rounded-4xl border-3 border-[var(--border)] cursor-pointer
                       shadow-[0_0_10px_white] bg-[length:200%_150%] bg-left hover:bg-right transition-background-position duration-700 ease-in-out text-shadow-dark"
                [routerLink]="ROUTES.HOME">
          <div class="flex justify-evenly items-center">
            <div>Leave</div>
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <defs>
                <filter id="shadow" x="-50%" y="-50%" width="200%" height="200%">
                  <feDropShadow dx="1" dy="1" stdDeviation="1" flood-color="black" />
                </filter>
              </defs>
              <g filter="url(#shadow)">
                <path d="M10.09 15.59 11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59ZM19 3H5a2 2 0 0 0-2 2v4h2V5h14v14H5v-4H3v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2Z"/>
              </g>
            </svg>
          </div>
        </button>
      </div>
      <!-- Messages -->
      <div class="h-full p-4 grid grid-rows-[auto_120px] gap-y-3 place-items-baseline">
          <!-- Messages container -->
          <div class="w-full h-full pt-0 pr-2 pb-2 pl-2 glass-card overflow-y-auto custom-scrollbar">
            @for (messageData of messages; track $index) {
              <!-- User Message -->
              @if (messageData.type === messageTypeEnum.User && messageData.message && messageData.username) {
                <app-user-message [username]="messageData.username" [message]="messageData.message"></app-user-message>
              }
              <!-- System message -->
              @else if (messageData.type === messageTypeEnum.System && messageData.message) {
                <app-system-message [message]="messageData.message"></app-system-message>
              }
            }
          </div>

          <!-- Text box -->
          <div class="w-full h-full">
              <label for="chat" class="sr-only">Your message</label>
              <div [formGroup]="sendMessageForm" class="flex items-center pr-2 py-2 rounded-lg glass-card">
                  <textarea rows="4" class="block resize-none bg-[var(--color-tertiary)] mx-4 p-2.5 w-full text-sm rounded-lg border border-white" placeholder="Your message..."
                            formControlName="newMessage"
                            (keydown.enter)="onSubmit()">
                  </textarea>
                  <button class="inline-flex justify-center p-2 text-[var(--color-tertiary)] rounded-full cursor-pointer hover:bg-[var(--color-secondary)]"
                          (click)="onSubmit()">
                    <svg class="w-5 h-5 rotate-90 rtl:-rotate-90"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                        <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
                    </svg>
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>